<div class="page measures-page">
  <div class="page-header">
    <h1 class="page-title">Recommended Measures</h1>
  </div>
</div>
<div class="page-content">
  {{#each ranges}}
    {{#if measures.length}}
      <h3>{{label}}</h3>
      <table class="table table-hover measures-table">
        <thead>
          <tr>
            <th></th>
            <th>Savings per year</th>
            <th>Start saving in</th>
            <th>Total upfront cost</th>
          </tr>
        </thead>
        {{#each measures}}
          <tr>
            <td>{{group}}</td>
            <td>{{annualSavings}}</td>
            <td>{{payback}} years</td>
            <td>{{cost}}</td>
          </tr>
        {{/each}}
      </table>
    {{/if}}
  {{/each}}
</div>

