{{#with certificate}}
<h1>Ways to Improve at {{address}}</h1>
  <div class="address">
    <div>
      <h5>Inspection date: {{inspectionDate}}</h5>
    </div>
    {{> epc-rating-band band=assetRatingBand size=100}}
  </div>
  {{> rating/compliance-message compliant=compliant tenure=../tenure}}
  {{#if outOfDate}}
    <div class="alert alert-warning">
      <p><strong>📅 This certificate is {{ageInYears}} years old.</strong></p>
      <p>You may want to consider reassessment, especially if changes have been made to the property since this inspection.</p>
      <p><a href="https://www.ndepcregister.com/searchAssessor.html" target="_blank">Find an EPC assessor. ⧉</a></p>
    </div>
  {{/if}}
{{/with}}
{{#if recommendations.length}}
  <table class="table table-hover recommendations-table">
    <thead>
      <tr>
        <th class="measure-column">Recommended measures</th>
        <th class="payback-column">Repays cost in</th>
        <th class="rating-column">CO<sub>2</sub> Impact</th>
        <th class="next-column"></th>
      </tr>
    </thead>
    <tbody>
      {{#each recommendations}}
        <tr>
          <td>
            <p>{{recommendation}}</p>
            <p><small><a href="/recommendation/{{recommendationCode}}">Learn more…</a></small></p>
          </td>
          <td class="payback payback-{{paybackType}}">{{paybackTypeTitle}}</td>
          <td class="epc-effect">
            <div>{{co2Impact}}</div>
          </td>
          <td><a class="btn btn-info" href="/whats-next/{{recommendationCode}}">Find a local provider</a></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  <div class="actions">
    <a class="btn btn-secondary" target="_blank" href="/rating/{{certificate.certificateHash}}/recommendations/EPC_{{certificate.lmkKey}}.pdf">
      🡇 Download as PDF
    </a>
  </div>
{{else}}
  <p>There are no specific recommendations for this property.</p>
{{/if}}

<a href="/rating/{{certificate.certificateHash}}?size={{size}}&tenure={{tenure}}" class="btn btn-danger changeViewButton">Change view</a>
