<h1>Energy Recommendations</h1>
{{#with certificate}}
  <div class="address">
    <div>
      <h3>{{address}}</h3>
      <h5>Inspection date: {{inspectionDate}}</h5>
    </div>
    <div class="rating {{ratingClass}}">{{assetRatingBand}}</div>
  </div>
  {{#unless compliant}}
    <div class="alert alert-danger">
      <p><strong>⚠️ This property is not compliant.</strong></p>
      <p>Properties must achieve at least an 'E' rating to be compliant with new legislation.</p>
    </div>
  {{/unless}}
  {{#if outOfDate}}
    <div class="alert alert-warning">
      <p><strong>📅 This certificate is {{ageInYears}} years old.</strong></p>
      <p>You may want to consider reassessment, especially if changes have been made to the property since this inspection.</p>
    </div>
  {{/if}}
{{/with}}
{{#if recommendations.length}}
  <div class="actions">
    <a class="btn btn-secondary" target="_blank" href="/rating/{{certificate.certificateHash}}/recommendations/EPC_{{certificate.lmkKey}}.pdf">
      🡇 Download plan
    </a>
  </div>
  <table class="table table-hover recommendations-table">
    <tr>
      <th>Recommendation</th>
      <th>Approximate cost</th>
      <th>Repays cost in</th>
      <th>Effect on your EPC</th>
      <th class="find-an-expert"></th>
    </tr>
    {{#each recommendations}}
      <tr>
        <td>
          <p>{{recommendation}}</p>
          <p><small><a href="/recommendation/{{recommendationCode}}">Learn more…</a></small></p>
        </td>
        <td>£5,000</td>
        <td class="recommendation {{paybackTypeColor}}">{{paybackTypeTitle}}</td>
        <td>+1</td>
        <td><a class="btn btn-info" href="/expert/{{recommendationCode}}">Find an expert</a></td>
      </tr>
    {{/each}}
  </table>
  {{else}}
  <p>There are no specific recommendations for this property.</p>
{{/if}}
