<h1>Energy Recommendations</h1>
<div class="address">
  {{#with property}}
    <h3>{{address}}</h3>
    <div class="rating {{color}}">{{asset-rating-band}}</div>
  {{/with}}
</div>
{{#if recommendations.length}}
  {{#if isDummy}}
  <div class="alert alert-danger">
    ⚠ No recommendations found for this property! Using example recommendations for this demonstration.
  </div>
  {{/if}}
  <table class="table table-hover recommendations-table">
    <tr>
      <th>Recommendation</th>
      <th>Repays cost in</th>
    </tr>
    {{#each recommendations}}
      <tr>
        <td>{{RECOMMENDATION}}</td>
        <td class="recommendation {{paybackTypeColor}}">{{paybackTypeTitle}}</td>
      </tr>
    {{/each}}
  </table>
  {{else}}
  <p>There are no specific recommendations for this property.</p>
{{/if}}
