{{#if isLandlord}}
  <h1>Ways to improve at {{certificate.address}}</h1>
{{else}}
  <h1>Opportunities to save at {{certificate.address}}</h1>
{{/if}}

<div class="epc-heading">
{{#with certificate}}
  <h5>Based on an EPC assessment on your building from {{inspectionDate}}</h5>
{{/with}}
{{#if isLandlord}}
  {{#with certificate}}
    {{> epc-rating-band band=assetRatingBand size=100}}
  {{/with}}
{{/if}}
</div>

{{> rating/compliance-message compliant=compliant tenure=tenure}}

{{#with certificate}}
  {{#if outOfDate}}
    <div class="alert alert-warning">
      <p>
        <strong>📅 This certificate is {{ageInYears}} years old.</strong>
      </p>
      <p>You may want to consider reassessment, especially if changes have been made to the property since this inspection.</p>
      <p>
        <a href="https://www.ndepcregister.com/searchAssessor.html" target="_blank">Find an EPC assessor. ⧉</a>
      </p>
    </div>
  {{/if}}
{{/with}}

{{#if recommendations.length}}
  <table class="table table-hover recommendations-table">
    <thead>
      <tr>
        <th class="measure-column">Recommended measures</th>
        {{#if showCost}}
          <th>Indicative cost</th>
        {{/if}}
        {{#if showEpcImpact}}
          <th>Impact on EPC rating</th>
        {{/if}}
        {{#if showSavings}}
          <th>Typical savings per year</th>
        {{/if}}
        {{#if showPayback}}
          <th>Repays cost in</th>
        {{/if}}
        {{#if showCO2Impact}}
          <th>CO<sub>2</sub> Impact</th>
        {{/if}}
        <th class="next-column"></th>
      </tr>
    </thead>
    <tbody>
      {{#each recommendations}}
        <tr>
          <td>
            <p>{{recommendation}}</p>
            <p>
              <small>
                <a href="/recommendation/{{recommendationCode}}">Learn more…</a>
              </small>
            </p>
          </td>
          {{#if ../showCost}}
            <td>
              {{#if costs}}
                {{costs.low}} - {{costs.high}}
              {{/if}}
            </td>
          {{/if}}
          {{#if ../showEpcImpact}}
            <td class="co2-impact">
              {{> epc-rating-band band=bandAfter size=30}}
              <span class="co2-impact-{{co2Impact}}"></span>
              <span><small>{{co2Impact}}</small></span>
            </td>
          {{/if}}
          {{#if ../showSavings}}
            <td>
              {{#if costs}}
                {{costs.annualSavings}}
              {{/if}}
            </td>
          {{/if}}
          {{#if ../showPayback}}
            <td class="payback payback-{{paybackType}}">{{paybackTypeTitle}}</td>
          {{/if}}
          {{#if ../showCO2Impact}}
            <td class="co2-impact">
              <span class="co2-impact-{{co2Impact}}"></span>
              <span><small>{{co2Impact}}</small></span>
            </td>
          {{/if}}
          <td>
            <a class="btn btn-info" href="/whats-next/{{recommendationCode}}?size={{../size}}&tenure={{../tenure}}">Find a local provider</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  <div class="actions">
    <a class="btn btn-secondary" target="_blank" href="/rating/{{certificate.certificateHash}}/recommendations/EPC_{{certificate.lmkKey}}.pdf">
      🡇 Download as PDF
    </a>
  </div>
{{else}}
  <p>There are no specific recommendations for this property.</p>
{{/if}}

<a class="btn btn-danger changeViewButton"
  href="/rating/{{certificate.certificateHash}}?size={{size}}&tenure={{tenure}}&test={{#if isTest}}no{{else}}yes{{/if}}">
  {{#if isTest}}
    Hide test columns
  {{else}}
    Show test columns
  {{/if}}
</a>
