<h1>Find a Local Provider</h1>
{{#if isLandlord}}
<p class="table-heading">Here’s an accredited list of providers in your local area, they’ll help 
  you get accurate cost information and estimate the impact any changes you make will have on your EPC rating.</p>
{{else}}
<p class="table-heading">Here’s an accredited list of providers in your local area, they’ll help 
  you get accurate cost information and estimate the impact changes any changes you make will have on your monthly bills!</p>
{{/if}}
<div>
  <p class="lead heading">Your recommendation</p>
  <p class="lead">
    {{recommendation.text}}
  </p>
</div>


<table class="table table-hover providers-table">
  <thead>
    <tr>
      <th class="company-column">Company</th>
      <th class="website-column">Website</th>
      <th class="phone-number-column">Phone Number</th>
    </tr>
  </thead>
  <tbody>
    {{#each providers}}
    <tr>
      <td>{{this.company}}</td>
      <td>
        <a href="http://{{this.website}}" target="_blank">{{this.website}}</a>
      </td>
      <td>
        {{this.number}}
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
